@charset "UTF-8";
/* line 5, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
html,
body {
  margin: 0;
  padding: 0;
}

/* line 11, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 27, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: url(/assets/scroll-2a302c2157d860433b3cda29c78134865e00f0c681f63d39b783f79b14c9f09d.jpg);
  color: #4d4d4d;
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

/* line 40, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
:focus {
  outline: 0;
}

/* line 44, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.hidden {
  display: none;
}

/* line 48, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.todoapp {
  background: #fff;
  margin: 130px 0 40px 0;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

/* line 56, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.todoapp input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

/* line 62, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.todoapp input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

/* line 68, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.todoapp input::input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

/* line 74, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.todoapp h1 {
  position: absolute;
  top: -155px;
  width: 100%;
  font-family: 'Cherry Swash', sans-serif;
  font-size: 100px;
  font-weight: 700;
  text-align: center;
  color: white;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

/* line 88, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.new-todo,
.edit {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  border: 0;
  color: inherit;
  padding: 6px;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  background-repeat: vertical;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 108, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.new-todo {
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  min-width: 100%;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}

/* line 116, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.main {
  position: relative;
  z-index: 2;
  border-top: 1px solid #e6e6e6;
}

/* line 122, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.toggle-all {
  text-align: center;
  border: none;
  /* Mobile Safari */
  opacity: 0;
  position: absolute;
}

/* line 129, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.toggle-all + label {
  width: 60px;
  height: 34px;
  font-size: 0;
  position: absolute;
  top: -52px;
  left: -13px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 140, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.toggle-all + label:before {
  content: '❯';
  font-size: 22px;
  color: #e6e6e6;
  padding: 10px 27px 10px 27px;
}

/* line 147, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.toggle-all:checked + label:before {
  color: #737373;
}

/* line 151, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 157, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.todo-list li {
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
}

/* line 163, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.todo-list li:last-child {
  border-bottom: none;
}

/* line 167, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.todo-list li.editing {
  border-bottom: none;
  padding: 0;
}

/* line 172, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.todo-list li.editing .edit {
  display: block;
  width: 506px;
  padding: 12px 16px;
  margin: 0 0 0 43px;
}

/* line 179, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.todo-list li.editing .view {
  display: none;
}

/* line 183, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.todo-list li .toggle {
  text-align: center;
  width: 40px;
  /* auto, since non-WebKit browsers doesn't support input styling */
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none;
  /* Mobile Safari */
  -webkit-appearance: none;
  appearance: none;
}

/* line 197, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.todo-list li .toggle {
  opacity: 0;
}

/* line 201, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.todo-list li .toggle + label {
  /*
    Firefox requires `#` to be escaped - https://bugzilla.mozilla.org/show_bug.cgi?id=922433
    IE and Edge requires *everything* to be escaped to render, so we do that instead of just the `#` - https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7157459/
  */
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center left;
}

/* line 211, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.todo-list li .toggle:checked + label {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E");
}

/* line 215, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.todo-list li label {
  word-break: break-all;
  padding: 15px 15px 15px 60px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
}

/* line 223, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.todo-list li.completed label {
  color: #d9d9d9;
  text-decoration: line-through;
}

/* line 228, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.todo-list li .destroy {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 30px;
  color: #cc9a9a;
  margin-bottom: 11px;
  transition: color 0.2s ease-out;
}

/* line 243, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.todo-list li .destroy:hover {
  color: #af5b5e;
}

/* line 247, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.todo-list li .destroy:after {
  content: '×';
}

/* line 251, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.todo-list li:hover .destroy {
  display: block;
}

/* line 255, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.todo-list li .edit {
  display: none;
}

/* line 259, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.todo-list li.editing:last-child {
  margin-bottom: -1px;
}

/* line 263, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.footer {
  color: #777;
  padding: 10px 15px;
  height: 20px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}

/* line 271, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.footer:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

/* line 286, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.todo-count {
  float: left;
  text-align: left;
}

/* line 291, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.todo-count strong {
  font-weight: 300;
}

/* line 295, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.filters {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
}

/* line 304, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.filters li {
  display: inline;
}

/* line 308, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.filters li a {
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}

/* line 317, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.filters li a:hover {
  border-color: rgba(175, 47, 47, 0.1);
}

/* line 321, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.filters li a.selected {
  border-color: rgba(175, 47, 47, 0.2);
}

/* line 325, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.clear-completed,
html .clear-completed:active {
  float: right;
  position: relative;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer;
}

/* line 334, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.clear-completed:hover {
  text-decoration: underline;
}

/* line 338, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.info {
  margin: 65px auto 0;
  color: #bfbfbf;
  font-size: 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
}

/* line 346, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.info p {
  line-height: 1;
}

/* line 350, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.info a {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
}

/* line 356, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.info a:hover {
  text-decoration: underline;
}

/*
  Hack to remove background from Mobile Safari.
  Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 365, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
  .toggle-all,
  .todo-list li .toggle {
    background: none;
  }

  /* line 370, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
  .todo-list li .toggle {
    height: 40px;
  }
}
@media (max-width: 430px) {
  /* line 376, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
  .footer {
    height: 50px;
  }

  /* line 380, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
  .filters {
    bottom: 10px;
  }
}
/* line 385, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.author {
  color: white;
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
}

/* line 392, /vagrant/src/todo/app/assets/stylesheets/tasks.scss */
.author a {
  color: #E9F2F7;
  font-weight: bold;
  text-decoration: none;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
